@keyframes ldio-jq5v1i9fkf {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(0.6900000000000001,0.6900000000000001);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-jq5v1i9fkf div > div {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #1d3f72;
    animation: ldio-jq5v1i9fkf 1s linear infinite;
  }.ldio-jq5v1i9fkf div:nth-child(1) > div {
    left: 140px;
    top: 84px;
    animation-delay: -0.9090909090909091s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 156px 100px;
  }.ldio-jq5v1i9fkf div:nth-child(2) > div {
    left: 131px;
    top: 114px;
    animation-delay: -0.8181818181818182s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(2) {
    transform: rotate(32.72727272727273deg);
    transform-origin: 147px 130px;
  }.ldio-jq5v1i9fkf div:nth-child(3) > div {
    left: 107px;
    top: 135px;
    animation-delay: -0.7272727272727273s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(3) {
    transform: rotate(65.45454545454545deg);
    transform-origin: 123px 151px;
  }.ldio-jq5v1i9fkf div:nth-child(4) > div {
    left: 76px;
    top: 139px;
    animation-delay: -0.6363636363636364s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(4) {
    transform: rotate(98.18181818181819deg);
    transform-origin: 92px 155px;
  }.ldio-jq5v1i9fkf div:nth-child(5) > div {
    left: 47px;
    top: 126px;
    animation-delay: -0.5454545454545454s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(5) {
    transform: rotate(130.9090909090909deg);
    transform-origin: 63px 142px;
  }.ldio-jq5v1i9fkf div:nth-child(6) > div {
    left: 30px;
    top: 100px;
    animation-delay: -0.45454545454545453s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(6) {
    transform: rotate(163.63636363636363deg);
    transform-origin: 46px 116px;
  }.ldio-jq5v1i9fkf div:nth-child(7) > div {
    left: 30px;
    top: 68px;
    animation-delay: -0.36363636363636365s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(7) {
    transform: rotate(196.36363636363637deg);
    transform-origin: 46px 84px;
  }.ldio-jq5v1i9fkf div:nth-child(8) > div {
    left: 47px;
    top: 42px;
    animation-delay: -0.2727272727272727s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(8) {
    transform: rotate(229.0909090909091deg);
    transform-origin: 63px 58px;
  }.ldio-jq5v1i9fkf div:nth-child(9) > div {
    left: 76px;
    top: 29px;
    animation-delay: -0.18181818181818182s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(9) {
    transform: rotate(261.8181818181818deg);
    transform-origin: 92px 45px;
  }.ldio-jq5v1i9fkf div:nth-child(10) > div {
    left: 107px;
    top: 33px;
    animation-delay: -0.09090909090909091s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(10) {
    transform: rotate(294.54545454545456deg);
    transform-origin: 123px 49px;
  }.ldio-jq5v1i9fkf div:nth-child(11) > div {
    left: 131px;
    top: 54px;
    animation-delay: 0s;
  }
  .ldio-jq5v1i9fkf > div:nth-child(11) {
    transform: rotate(327.27272727272725deg);
    transform-origin: 147px 70px;
  }
  .loadingio-spinner-spin-gq2i7995vpe {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
  }
  .ldio-jq5v1i9fkf {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-jq5v1i9fkf div { box-sizing: content-box; }
  /* generated by https://loading.io/ */